<div class="row">
  <div class="container register">
     <div class="row">
       <div class="col-md-5 register-left" >
         <h5>Helllo! {{username}}</h5>
       </div>
       <div class="col-md-12 register-right">
         <div class="col-md-4 register-left" style="margin-top:0px !important;">
           <img src={{fromCurrentImage}} alt="" />
         </div>
         <div class="col-md-12">

           <h6 class="{{alertClass}}" role="alert">{{fromResultMessage}} </h6>
           <button style="margin-bottom:10px;width:12%;margin-top:0px;padding:5px;" type="button" class="btnRegister" (click)="backToHome()">OK</button>
         </div>
                

       </div>
       
      </div>
     </div>
</div>








